
.page-content {

}

header {
    display: flex;
    justify-content:  space-between;
}

.start-btn {
    background-color: purple;
    border: 20px solid purple;
    border-radius: 25%;
    color: white;
    font-size: 20px;
}